using System.Threading.Tasks;
using Refit;

namespace Requests
{
    /// <summary>
    /// An <see langword="interface"/> for a simple service that exposes a single REST API
    /// </summary>
    public interface IRestService
    {
        [Get({{BaseUrl}})]
        {{#Headers}}
        [Headers("{{Key}}: {{Value}}")]
        {{/Headers}}
        Task<string> Get{{Name}}Async({{#Queries}}string {{Key}} = "{{Value}}", {{/Queries}});
    }
}
